* {
  direction: rtl;
  text-align: right;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
}

header {
  background: rgb(227,227,227);
  background: linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(141,145,145,1) 11%);
  height: 110px;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

ol {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 900px;
  margin: 0 auto;
  color: white;
  padding: 0;
}

header ol {
  font-weight: bold;
}

ol li {
  text-align: center;
  flex: 1 1 auto;
  border-left: 2px solid #b5bab6;
  height: 20px;
}

ol a {
  color: white;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: relative;
  right: 10px;
  background: rgb(227,227,227);
  background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(141,145,145,1) 11%);
}

.dropdown-content a {
  padding: 3px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #b5bab6;
}

.dropdown-content a:hover {
  background-color: #ebebeb;
}

.dropdown-content a:last-child {
  border-bottom: 0px;
}

ol li:hover .dropdown-content {
  display: block;
}

ol li:last-child {
  border-left: 0px;
}

header ol li:first-child {
  border-left: 0px;
}

.search-bar {
  height: 75%;
}

.search-icon {
  border: 0px;
  padding: 0;
  background-color: #b5bab6;
  position: relative;
  left: 5px;
  top: 1px;
  padding: 4px;
}

.search-icon img {
  height: 13.5px;
  width: 13px;;
}

.search-form {
  direction: ltr;
  text-align: left;
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}

header a:hover , footer a:hover{
  color: #005CA0;
  text-decoration: underline;
}
.search-form input{
  line-height: 20px;
}

.search-form a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-left: 20px;
}

#logo {
  width: 130px;
  height: auto;
  position: relative;
  bottom: 30px;
}

.row {
  width: 900px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.service {
  width: 293px;
  height: 355px;
  padding-right: 5px;
  border-radius: 0px 0px 20px 0px;
}

.ser3 {
  background: url("service1.jpg");
}

.ser2 {
  background: url("service2.jpg");
}

.ser1 {
  background: url("service3.jpg");
}

.service-desc {
  color: white;
  height: 94px;
  width: 255px;
  position: relative;
  top: 248px;
  font-size: 13px;
  background-color: #8d9191;
  opacity: 0.95;
  padding: 10px;
  margin: 0;
  border-radius: 0px 0px 20px 0px;
}

.service-desc h3{
  font-size: 13px;
  height: 15px;
  margin: 0;
}

.service-desc p{
  margin-top: 4px;
  line-height: 1;
}

.service-desc .read-more {
  position: relative;
  bottom: 16px;
  right: 172px;
}

.read-more a {
  color: white;
}

.read-more:hover a{
  color: #005CA0;
}

.read-more:hover img{
  content:url("read_more_blue.png");
}

.service-desc p {
  height: 49px;
}

.sub-section {
  width: 293px;
  height: 216px;
  padding: 0px 24px;
  border: 1px solid #c2c2c2;
  border-radius: 0px 20px 0px 0px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(222,222,222,1) 100%);
}

.sub-section h3 {
  font-size: 14px;
}

.more-details {
  position: relative;
  top: 10px;
  right: 160px;
}

.sub-section a {
  font-size: 13px;
  color: #72716d;
}

.sub-section a:hover {
  color: #005CA0;
}

.sub-section a:hover+img {
  content:url("read_more_blue.png");
}

.subsec3 > img {
  float: left;
  width: 67px;
}

.subsec3 ul {
  list-style: none;
  text-decoration: underline;
  padding: 0;
  line-height: 1.8;
  font-size: 13px;
  width: 40px;
}

.subsec3 ul img{
  position: relative;
  right: 5px;
}

footer {
  height: 38px;
  background-color: #8d9191;
  margin-top: 50px;
  font-size: 14px;
  padding-top: 15px;
  position: sticky;
  bottom: 0;
}
